<header>
    <nav>
      <div class="nav-toggle" id="nav-toggle">&#9776;</div>
      <div class="nav-left">PIRIS MARIUS</div>
      <ul class="nav-center">
        <li><a href="../pages/home.html">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#references">References</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <span id="toggle-theme">🌙</span>
    </nav>
  </header>
  