* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #0D1117; /* Noir foncé (GitHub) */
    color: #C9D1D9; /* Gris clair (GitHub) */
}

nav {
    position: sticky;
    top: 0;
    background-color: #161B22; /* Variation de noir */
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #C9D1D9; /* Gris clair (GitHub) */
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #30363D; /* Gris moyen (GitHub) */
    color: #58A6FF; /* Bleu clair (GitHub) */
    border-radius: 5px;
}

header {
    background-color: #161B22; /* Variation de noir */
    color: white;
    padding: 40px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: #58A6FF; /* Bleu clair */
}

.section-content {
    margin: 20px;
    padding: 20px;
    background: #30363D; /* Gris moyen (GitHub) */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #161B22;
    color: white;
    margin-top: 20px;
}

@media (min-width: 768px) {
    body {
        max-width: 700px;
        margin: 0 auto;
    }
}
