body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: #111827;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a202c;
}
::-webkit-scrollbar-thumb {
  background: #6B21A8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B5CF6;
}
